In [30]:
import numpy as np
import pandas as pd
import pylab as plt
# import seaborn as sns
from mpl_toolkits.mplot3d import Axes3D

In [21]:
# load the data
X = []
Y = []

In [6]:
data = pd.read_csv('ex1data1.csv')
data.head()

   Population   Profit
0      6.1101  17.5920
1      5.5277   9.1302
2      8.5186  13.6620
3      7.0032  11.8540
4      5.8598   6.8233

In [22]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97 entries, 0 to 96
Data columns (total 2 columns):
Population    97 non-null float64
 Profit       97 non-null float64
dtypes: float64(2)
memory usage: 1.6 KB

In [26]:
# ax = sns.scatterplot(x='Population', y='Profit', data=data)
# ax.set_title("Profit in $10000s vs city population in 10000s");

In [ ]:
# the objective of linear regression is to minimize the cost function
MSE =  \frac{1}{N} \sum_{i=1}^{n} (y_i - (m x_i + b))^2